body {
    background-color: whitesmoke;
    margin: 0%;
 }
.right{
  font-family: 'Merriweather', serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Ubuntu', sans-serif;
  color: #345e7d;
  font-style: italic;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A2D2FF;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Ubuntu', sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: #ffbdde;}

ul.topnav li a.active {background-color: #42A5F5;}

ul.topnav li.right {float: left;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
iframe {
  justify-content: flex-end;
  align-items: center;
}
.story {
  text-align: justify;
  font-size: 100%;
  font-family: 'Merriweather', serif;
  font-family: 'Ubuntu', sans-serif;
  margin-right: 90px;
  margin-top: 20px;
}
  .footer{
    font-family: sans-serif;
    background-color: #FF5D8F;
    color: white;
    padding: 30px;
    /* position: fixed; */
    /* right: 20: */
    /* width: 100%; */
    display: block;
    text-align: center;
    margin-right: 0px;
    margin-top: 60px;
} 