body {
    background-color: whitesmoke;
    margin: 0%;
 }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFC4D6;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.gallery{
  text-align: center; 
  font-family: 'Merriweather', serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
}
.right{
  font-family: 'Merriweather', serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Ubuntu', sans-serif;
  color: #345e7d;
  font-style: italic;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Ubuntu', sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: #FFAFCC;}

ul.topnav li a.active {background-color: #6da7cc;}

ul.topnav li.right {float: left;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
  .footer{
    font-family: sans-serif;
    background-color: #31326f;
    color: white;
    padding: 30px;
    /* position: fixed; */
    /* right: 20: */
    /* width: 100%; */
    display: block;
    text-align: center;
    margin-right: 0px;
} 
div.gallery {
  border: 1px solid #ccc;
}
div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}